body, html {
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

#app {
  height: 100vh;
}

.initial-spinner {
  position: absolute;
  display: block;
  top: 50vh;
  left: 50vw;
  transform: translateY(-50%) translateX(-50%);
}

html.platform--win32::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  display: block;
  z-index: 40;
  background-color: silver;
}

.filter-popover .bp4-popover2-content {
  border-radius: 0;
}
.bp4-overlay-backdrop.bp4-popover2-backdrop {
  background: rgba(0, 0, 0, .5);
}
.bp4-tree-node-caret {
  cursor: default !important;
}

.bp4-tree-node-content:hover {
  background: unset;
}

.bp4-html-select select {
  cursor: default !important;
}

.bp4-button {
  cursor: default !important;

}

  .bp4-button:focus {
    outline: none;
  }

.bp4-tab {
  cursor: default !important;
}

.bp4-menu-item {
  cursor: default;
}

  .bp4-menu-item, .bp4-menu .bp4-menu-item.bp4-disabled {
    cursor: default !important;
  }
